{% extends "padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
    <!-- Esto es lo que se va a cambiar -->
    <div class="container col-10">
        <h1>Mensaje</h1>
        <h3>Crear:</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Enviar" />
            </form>
        <br>
        <a href="{% url 'MessageList' %}">Regresar</a>
    </div>

{% endblock %}